<div class="cube-container">
  <swiper-container
    class="swiper mySwiper"
    fmSwiper
    [config]="config"
    init="false"
    pagination="true"
  >
    <swiper-slide class="swiper-slide">
      <img src="assets/images/macProInBlack.jpg" />
    </swiper-slide>
    <swiper-slide class="swiper-slide">
      <img src="assets/images/usedIphones.jpg" />
    </swiper-slide>
    <swiper-slide class="swiper-slide">
      <img src="assets/images/macProInBox.jpg" />
    </swiper-slide>
    <swiper-slide class="swiper-slide">
      <img src="assets/images/appleel.jpg" />
    </swiper-slide>
    <!-- <div class="swiper-pagination"></div> -->
  </swiper-container>
</div>

