.main {
  width: 100%;
  background-color: #f2f6fa;

  .img-main {
    position: relative;
    img {
      width: 100vw;
    }
    .main-service-text {
      position: absolute;
      top: 25%;
      display: flex;
      justify-content: center;
      width: 100%;
      .text {
        font-weight: 800;
        text-align: center;
        width: 50%;
        z-index: 5;
        font-family: "Montserrat", sans-serif;
        color: rgb(0, 0, 0);
        font-size: 32px;
        font-weight: 200;
        letter-spacing: 1.65px;
        opacity: 0;
        animation-name: floatin;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        .call-me-button {
          button {
            -moz-box-shadow: 0px 10px 14px -7px #276873;
            -webkit-box-shadow: 0px 10px 14px -7px #276873;
            box-shadow: 0px 10px 14px -7px #276873;
            background: -webkit-gradient(
              linear,
              left top,
              left bottom,
              color-stop(0.05, #599bb3),
              color-stop(1, #408c99)
            );
            background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
            background-color: #599bb3;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 16px;
            font-weight: bold;
            padding: 8px 15px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #3d768a;
            border: none;
            &:hover {
              background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                color-stop(0.05, #0f8df0),
                color-stop(1, #0f8df0)
              );
              background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
              background: -webkit-linear-gradient(
                top,
                #408c99 5%,
                #599bb3 100%
              );
              background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
              background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
              background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
              background-color: #408c99;
            }
            &:active {
              position: relative;
              top: 1px;
            }

            @keyframes line {
              0% {
                background-position-x: 390px;
              }
            }
          }
        }
      }
    }
  }

  .service {
    padding-top: 100px;
    padding-bottom: 100px;
    .my-container {
      max-width: 1500px;
      .title {
        text-align: center;
        font-size: 32px;
        font-weight: 900;
      }
      .service-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
      }
    }
  }
  .about {
    padding-top: 50px;
    padding-bottom: 180px;
    background-color: #ffffff;
    .my-container {
      .title {
        text-align: center;
        font-size: 32px;
        font-weight: 900;
      }
      .about-description-container {
        display: flex;
        align-items: center;
      }
    }
  }
  .delivery {
    .my-container {
      background-position-x: calc(50% + 340px);
      background-repeat: no-repeat;
      background-image: url("/assets/images/delivery.jpg");
      background-size: contain;
      .delivery-info {
        padding-top: 80px;
        padding-bottom: 80px;

        .delivery-title {
          font-family: "Lora", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          margin-bottom: 5px;
        }

        .delivery-item {
          margin-top: 35px;
          color: #000000;
          max-width: 442px;

          .delivery-image {
            margin-bottom: 30px;

            #payment {
              display: flex;
              justify-content: center;
              margin-right: 12px;
              width: 60px;
              padding-top: 12px;
              height: 48px;
              border-radius: 50%;
              border: 2px black solid;
            }
            img {
              width: 45px;
              height: 45px;
            }
          }
          .delivery-text {
            font-size: 16px;
            .delivery-text-extra {
              font-family: "Montserrat-LightItalic";
              font-style: italic;
              font-weight: 300;
              font-size: 16px;
              line-height: 130%;
              margin-top: 8px;
            }
          }
          &.info-delivery {
            .delivery-text:last-child {
              margin-top: 16px;
            }
          }
          &.delivery-payment {
            .delivery-text {
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      // .delivery-img {
      //   width: 60%;
      //   // background-image: url("/assets/images/delivery.jpg");
      //   background-position-y: center;
      //   background-size: cover;
      // }
    }
  }

  .questions {
    .my-container {
      padding-top: 80px;
      padding-bottom: 80px;
      width: 80%;
      .accordion {
        width: 300px;
      }
    }
  }
  .map-contacts {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;
    .my-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .contacts {
        .info-block {
          margin-bottom: 15px;

          .title {
            display: flex;
            align-items: center;
            font-weight: bolder;
            text-decoration: underline;
            svg {
              margin-right: 5px;
            }
            span {
              padding-top: 4px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 130%;
              color: #2c2c2c;
            }

            margin-bottom: 5px;
          }
          .description {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #2c2c2c;
            display: flex;
            .icons-chat {
              cursor: pointer;
              display: flex;
              align-items: center;
              &:first-child {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .main {
    .img-main {
      width: 900px;
      .main-service-text {
        .text {
          font-size: 30px;
        }
      }
    }
  }
}

@keyframes floatin {
  from {
    transform: translateY(-24px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
