$container-width: 1240px;

//backgrounds
$background-color-light-bule: #7ba3df;
$background-color-dark-blue:  #008fff;
$background-color-light-blue-two: #92c4f9;
//text colors
$blue-text-color: #008fff;
$grey-text-color: #2c2c2c;
